<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Project-1</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
<link rel="stylesheet" href="../static/css/custom.css">
<script src="../static/js/modernizr.js"></script>
</head>

<body id="page-top" class="">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid" src="../static/img/logo1.png" alt="" style="width:100px; height:70px" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/About">About-Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Departements">Departements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Appointement">Appointment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-------------------------------------------------------------------Fooooooooooooooooooooooooooooooooooooooter-->
    {% block content%}
    {% endblock content%}

<footer class="footer-20192">
    <div class="site-section">
      <div class="container">
        <div class="cta d-block d-md-flex align-items-center px-5">
            <div>
              <h2 class="mb-0">For any Unanwsered question do please</h2>
              <h3 class="text-dark">Contact US by cliquing the button!</h3>
            </div>
            <div class="ml-auto">
              <a href="/Contact" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a>
            </div>
          </div>
        <div class="row">
          <div class="col-sm mr-3">
            <img href="" src="../static/img/logo1.png" style="width:170px; height:140px;" ></img>
          </div>
          
          <div class="col-sm">
            <h3>Booking</h3>
            <ul class="list-unstyled links">
              <li><a href="/Appointement">Appointment</a></li>
              <li><a href="/Contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Company</h3>
            <ul class="list-unstyled links">
              <li><a href="/">Home</a></li>
              <li><a href="/About">About us</a></li>
              <li><a href="/#Services">Services</a></li>
              <li><a href="/#Departements">Departements</a></li>
              <li><a href="/#Doctors">Doctors</a></li>
              <li><a href="#working-time">Schedule</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Follow us</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-facebook"><i class="fa fa-facebook fa-2x mt-2"></i></span></a></li>
              <li><a href="#"><span class="icon-twitter"><i class="fa fa-twitter fa-2x mt-2"></i></span></a></li>
              <li><a href="#"><span class="icon-instagram"><i class="fa fa-instagram fa-2x mt-1"></i></span></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
<!----------- Footer end -------------->
    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <!-- Camera Slider -->
    <script src="../static/js/jquery.mobile.customized.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/parallaxie.js"></script>
    <script src="../static/js/headline.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/jquery.vide.js"></script>

</body>
</html>