<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Project-1</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
<link rel="stylesheet" href="../static/css/contact.css">
<link rel="stylesheet" href="../static/css/responsive.css">

<script src="../static/js/modernizr.js"></script>
</head>

<body id="page-top" class="">
<!------------------------------------------- About us ---------------------------------------->
<div class="contact-form">
      <div class="first-container">
        <div class="info-container">
          <div><img class="icon">
            <h3>Address</h3>
            <p>265 Boulevard Hassan II, Agadir 80000</p>
          </div>
          <div> <img class="icon">
            <h3>Lets Talk</h3>
            <p>+21267777777</p>
          </div>
          <div><img class="icon">
            <h3>General Support</h3>
            <p>contact@Psyphobia.com</p>
          </div>
        </div>
      </div>
      <div class="second-container">
        <h2>Send Us A Message</h2>
        <form method="POST" action="/saveConta">
            <div class="form-group">
              <label for="name">Tell us your name*</label>
              <input
                type="text"
                placeholder="First name"
                required
                name="fname"
              />
              <input
                type="text"
                placeholder="Last name"
                required
                name="sname"
              />
            </div>
            <div class="form-group">
              <label for="fmail">Enter your email*</label>
              <input
                type="email"
                placeholder="Eg. example@email.com"
                required
                name="fmail"
              />
            </div>
            <div class="form-group">
              <label for="tel">Enter phone number*</label>
              <input
                type="number"
                placeholder="Eg. +1 800 000000"
                required
                name="tel"
              />
            </div>
            <div class="form-group">
              <label for="messge">Message</label>
              <textarea
                placeholder="Write us a message"
                name="mseg"
              ></textarea>
            </div>
            <button type="submit" value="submit">Send message</button>
          </form>
      </div>
    </div>
<!----------- Footer -------------->
<footer class="footer-20192">
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-sm mr-3">
            <img href="" src="../static/img/logo1.png" style="width:170px; height:140px;" ></img>
          </div>
          <div class="col-sm">
            <h3>Booking</h3>
            <ul class="list-unstyled links">
              <li><a href="/Appointement">Appointment</a></li>
              <li><a href="/Contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Company</h3>
            <ul class="list-unstyled links">
              <li><a href="/">Home</a></li>
              <li><a href="/About">About us</a></li>
              <li><a href="/#Services">Services</a></li>
              <li><a href="/#Departements">Departements</a></li>
              <li><a href="/#Doctors">Doctors</a></li>
              <li><a href="#working-time">Schedule</a></li>
            </ul>
          </div>       
        </div>
      </div>
    </div>
  </footer>

<!----------- Footer end -------------->

    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <!-- Camera Slider -->
    <script src="../static/js/jquery.mobile.customized.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/parallaxie.js"></script>
    <script src="../static/js/headline.js"></script>
    <!-- Contact form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/custom.js"></script>
	<script src="../static/js/jquery.vide.js"></script>
</body>
</html>