    
<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Project-1</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="../static/css/responsive.css">
<link rel="stylesheet" href="../static/css/custom.css">
<script src="../static/js/modernizr.js"></script>
</head>

<body id="page-top" class="">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <img class="img-fluid" src="../static/img/logo1.png" alt="" style="width:100px; height:70px" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/About">About-Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Departements">Departements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Doctors">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#Schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Appointement">Appointment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- */--------------------------------------------------------- TEXT ON VIDEO ------------------------------------------------/* -->
    <section id="home" class="main-banner parallaxie video-container">
        <video src="../static/images/pexels-karolina-grabowska-6174826.mp4" autoplay loop playsinline muted style="width: 100;"></video>
        <div class="heading">
            <h1>Welcome to 
            <span style="color: #0077b6">Psyphobia</span></h1>
            <h3 class="cd-headline clip is-full-width">a
            </h3>
        </div>
    </section>
    
      <!-------------------------------------------------- ABOUT US SECTION meh ------------------------------------------------------------>
      <div class="col-md-12 mt-5">
        <div class="site-heading text-center">
            <h2> <span>ABOUT US 
            </span></h2>
            <h4></h4>
        </div>
    </div>
      
      <section class="about-section" id="">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text69">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
            <button class="button-57" role="button"><span class="text">More info.</span><span><a href="/About">About-US</a></span></button>
        </div>
        
        
    </section>
    <!---------------------------------------Still in abous us but this is the counter d statis----------------------------------------------------------->
    <!-- start count stats -->
<section class="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s" style="background-color: #fdfdfd;">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 stats">
				<i class="fa fa-award" aria-hidden="true"></i>
				<div class="counting" data-count="20">0</div>
				<h5>Awards</h5>
			</div>

			<div class="col-lg-3 stats">
				<i class="fa fa-user-doctor" aria-hidden="true"></i>
				<div class="counting" data-count="360">0</div>
				<h5>Number of doctors in clinic</h5>
			</div>

			<div class="col-lg-3 stats">
				<i class="fa fa-user" aria-hidden="true"></i>
				<div class="counting" data-count="10000">0</div>
				<h5>patients in one month</h5>
			</div>

			<div class="col-lg-3 stats">
				<i class="fa fa-book-medical" aria-hidden="true"></i>
				<div class="counting" data-count="1970">0</div>
				<h5>in Service since</h5>
			</div>
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

</section>

<!-- end cont stats -->
     <!----------------------------------------------------------------- Services ------------------>
     <section class="we-offer-area text-center bg-gray section2">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <h2><span>Services</span></h2>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="row our-offer-items less-carousel" id="Services">
                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-bed-pulse"></i>
                        <h4>Project creation</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-head-side-virus"></i>
                        <h4>Software Development</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-truck-medical"></i>
                        <h4>Porject Management</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-hospital"></i>
                        <h4>Porject Impliment</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-hospital-user"></i>
                        <h4>Software Update</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-md-4 col-sm-6 equal-height">
                    <div class="item">
                        <i class="fas fa-user-doctor"></i>
                        <h4>24/7 Support</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </section>

    <!----------------------------------------------------------------- The treatement we do ------------------>
    <div class="row">
        <div class="col-md-12" id="">
            <div class="site-heading text-center">
                <h2><span>Departements</span></h2>
                <h4></h4>
            </div>
        </div>
    </div>
    <div class="container mt-5" id="Departements">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url(../static/img/departement2.jpg);">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
              </div>
              <div class="blog-card__info">
                <h5>Psychological Surgory departement </h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa-solid fa-briefcase-medical"></i> Tony Jahson</a>
                  <a href="#" class="icon-link"><i class="fa-solid fa-stethoscope"></i> 100</a>
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                <a href="#" class="btn66 btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url(../static/img/departement.jpg);">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
              </div>
              <div class="blog-card__info">
                <h5>Consulting departement</h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa-solid fa-briefcase-medical"></i> Tony Jahson</a>
                  <a href="#" class="icon-link"><i class="fa-solid fa-stethoscope"></i> 40</a>
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                <a href="#" class="btn66 btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url(../static/img/departement4.jpg);">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
              </div>
              <div class="blog-card__info">
                <h5>Psychological departement </h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa-solid fa-briefcase-medical"></i> Tony Jahson</a>
                  <a href="#" class="icon-link"><i class="fa-solid fa-stethoscope"></i> 120</a>
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                <a href="#" class="btn66 btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12">
            <article class="blog-card">
              <div class="blog-card__background">
                <div class="card__background--wrapper">
                  <div class="card__background--main" style="background-image: url(../static/img/departement3.jpg);">
                    <div class="card__background--layer"></div>
                  </div>
                </div>
              </div>
              <div class="blog-card__head">
              </div>
              <div class="blog-card__info">
                <h5>Psychological departement </h5>
                <p>
                  <a href="#" class="icon-link mr-3"><i class="fa-solid fa-briefcase-medical"></i> Tony Jahson</a>
                  <a href="#" class="icon-link"><i class="fa-solid fa-stethoscope"></i> 60</a>
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                <a href="#" class="btn66 btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
              </div>
            </article>
          </div>
        </div>
      </div>
      </section>

    <!---------------------------------------------------------------------------------------This is doctors place -->
    
    <section>
        <div class="col-md-12 mt-">
            <div class="site-heading text-center">
                <h2><span>Doctors
                </span></h2>
                <h4></h4>
            </div>
        </div>
        <div class="container mt-5 mb-5" id="Doctors">
            <div class="row g-2 ">
                <div class="col-md-3 p-2">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/adulfhitler.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Adolf Hitler</h5> <small>Mental health counselor</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            Wherever the art of Medicine is loved, there is also a love of Humanity
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/AngryDoctor.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Napoleon Bonaparte</h5> <small>Psychologist</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i>  <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            Life is short… and so am I !
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/Stalin.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Joseph Vissarionovich Stalin</h5> <small>Psychoanalyst</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"> </i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            It is the lone worker who makes the first advance in a subject.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/White-ass.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Miyamoto Musashi</h5> <small>Psychotherapist</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  <i class="fa fa-star"></i>  </div>
                        <p>
                            Think lightly of yourself and deeply of the world.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/Black.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Vladimir putin</h5> <small>neurosurgeon</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            People pay the doctor for his trouble, for his kindness they still remain in his debt.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/AngryDoctor.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Aaron Kosminski</h5> <small>Addiction counselor</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            When a doctor does go wrong he is the first of criminals. He has nerve and he has knowledge.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/girl2.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Nico Robin</h5> <small>Psychotherapist</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            Fools who don't respect the past are doomed to repeat it.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="../static/img/Doctors/gilr1.jpeg" width="85" height="100" class="rounded-circle"> </div>
                        <h5 class="mb-0">Tsunade Senju</h5> <small>Nurse Practitioners</small>
                        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                        <p>
                            Only when it comes to money. My life is a different story. I'm still alive aren't I…?"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---------------------------------------------------------- Testimonial  ------------------------------------------------>
    <div id="testimonials" class="section wb">
        <div class="container">
            <div class="col-md-12 mt-">
                <div class="site-heading text-center" id="Testimonial">
                    <h2><span>Testimonial
                    </span></h2>
                    <h4></h4>
                </div>
            </div>
            <!-- end title -->
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../static/uploads/testi_01.png" alt="" class="img-fluid alignleft">
                                <h4>James Fernando <small>Patient</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../static/uploads/testi_02.png" alt="" class="img-fluid alignleft">
                                <h4>Jacques Philips <small>Patient</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="../static/uploads/testi_03.png" alt="" class="img-fluid alignleft">
                                <h4>Venanda Mercy <small>- Patient</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../static/uploads/testi_01.png" alt="" class="img-fluid alignleft">
                                <h4>James Fernando <small>Patient</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../static/uploads/testi_02.png" alt="" class="img-fluid alignleft">
                                <h4>Jacques Philips <small>Patient</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="../static/uploads/testi_03.png" alt="" class="img-fluid alignleft">
                                <h4>Venanda Mercy <small>Patient</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                    </div>
                    <!-- end carousel -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->
    <!---------------------------------------------------------- Working Hours  ------------------------------------------------>
    <section id="working-time" class="working-time">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center heading1" id="Schedule">
                  <h2 class="wow fadeInUp animated">Working Hours</h2>
                  <p>Duis aute irure dolor in reprehenderit volupte velit esse cillum dolore eu fugiat pariatursint occaecat cupidatat non proident culpa.</p>
              </div>
              <!-- .col-md-6 end -->
          </div>
          <!-- .row end -->
          <div class="row">
              <!-- Service #1 -->
              <!-- .col-md-2 end -->

              <!-- Service #2 -->
              <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                  <div class="time-panel">
                      <h3>mon</h3>
                      <ul class="list-unstyled mb-0">
                          <li>9.00 am</li>
                          <li>to</li>
                          <li>4.30 am</li>
                      </ul>
                  </div>
                  <!-- .time-panel end -->
              </div>
              <!-- .col-md-2 end -->

              <!-- Service #3 -->
              <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                  <div class="time-panel">
                      <h3>tue</h3>
                      <ul class="list-unstyled mb-0">
                          <li>10.00 am</li>
                          <li>to</li>
                          <li>5.30 am</li>
                      </ul>
                  </div>
                  <!-- .time-panel end -->
              </div>
              <!-- .col-md-2 end -->

              <!-- Service #4 -->
              <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                  <div class="time-panel">
                      <h3>wed</h3>
                      <ul class="list-unstyled mb-0">
                          <li>9.30 am</li>
                          <li>to</li>
                          <li>4.00 am</li>
                      </ul>
                  </div>
                  <!-- .time-panel end -->
              </div>
              <!-- .col-md-2 end -->

              <!-- Service #5 -->
              <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                  <div class="time-panel">
                      <h3>thu</h3>
                      <ul class="list-unstyled mb-0">
                          <li>10.00 am</li>
                          <li>to</li>
                          <li>5.00 am</li>
                      </ul>
                  </div>
                  <!-- .time-panel end -->
              </div>
              <!-- .col-md-2 end -->

              <!-- Service #6 -->
              <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                  <div class="time-panel">
                      <h3>Fri</h3>
                      <ul class="list-unstyled mb-0">
                          <li>9.00 am</li>
                          <li>to</li>
                          <li>4.30 am</li>
                      </ul>
                  </div>
                  <!-- .time-panel end -->
              </div>
              <!-- .col-md-2 end -->

              <div class="col-6 col-sm-6 col-md-4 col-lg-2">
                  <div class="time-panel">
                      <h3>sat</h3>
                      <ul class="list-unstyled mb-0">
                          <li>10.00 am</li>
                          <li>to</li>
                          <li>5.00 am</li>
                      </ul>
                  </div>
                  <!-- .time-panel end -->
              </div>
          </div>
          <!-- .row end -->
      </div>
      <a href="/Appointement">
      <button class="cta1">
        <span class="hover-underline-animation"> Appointment </span>
        <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
          <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
        </svg>
      </button>
    </a>
      <!-- .container end -->
  </section>
  <footer class="footer-20192">
    <div class="site-section">
      <div class="container">
        <div class="cta d-block d-md-flex align-items-center px-5">
            <div>
              <h2 class="mb-0">For any Unanwsered question do please</h2>
              <h3 class="text-dark">Contact US by cliquing the button!</h3>
            </div>
            <div class="ml-auto">
              <a href="/Contact" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a>
            </div>
          </div>
        <div class="row">
          <div class="col-sm mr-3">
            <img href="" src="../static/img/logo1.png" style="width:170px; height:140px;" ></img>
          </div>
          
          <div class="col-sm">
            <h3>Booking</h3>
            <ul class="list-unstyled links">
              <li><a href="/Appointement">Appointment</a></li>
              <li><a href="/Contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm">
            <h3>Company</h3>
            <ul class="list-unstyled links">
              <li><a href="/">Home</a></li>
              <li><a href="/About">About us</a></li>
              <li><a href="/#Services">Services</a></li>
              <li><a href="/#Departements">Departements</a></li>
              <li><a href="/#Doctors">Doctors</a></li>
              <li><a href="#working-time">Schedule</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Follow us</h3>
            <ul class="list-unstyled social">
              <li><a href="#"><span class="icon-facebook"><i class="fa fa-facebook fa-2x mt-2"></i></span></a></li>
              <li><a href="#"><span class="icon-twitter"><i class="fa fa-twitter fa-2x mt-2"></i></span></a></li>
              <li><a href="#"><span class="icon-instagram"><i class="fa fa-instagram fa-2x mt-1"></i></span></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
<!----------- Footer end -------------->
    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <!-- Camera Slider -->
    <script src="../static/js/jquery.mobile.customized.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/parallaxie.js"></script>
    <script src="../static/js/headline.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/jquery.vide.js"></script>

</body>
</html>
